.results__button {
    width: 288px;
    height: 64px;

    background: white;
    color: #1A1B22;

    border: none;
    border-radius: 100px;
    outline: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.results__button:hover {
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.4);
}

@media screen and (max-width: 768px) {
    .results__button {
        width: 240px;
    }
}

@media screen and (max-width: 570px) {
    .results__button {
        width: 100%;
    }
}

