@import url(./_block/results__text_block.css);

.results__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    
    color: #B6BCBF;
}