.nav .nav__item_footer {
    margin-right: 44px;
    color: #1A1B22;
}
.nav__item_footer:hover{
    opacity: 0.6;
}

@media screen and (max-width: 570px) {
    .nav .nav__item_footer {
        height: auto;
        margin-right: 0px;
        margin-block-end: 24px;
    }
}
