 @import url('./-data/graphic-data.css');
 @import url('./__line-info-text/text-line-wrapper__line-info-text.css');

.analytics__graphic .graphic-data:nth-of-type(1) .graphic-data__line-wrapper .text-line-wrapper {
    width: 15%;
}

.analytics__graphic .graphic-data:nth-of-type(2) .graphic-data__line-wrapper .text-line-wrapper {
    width: 18%;
}

.analytics__graphic .graphic-data:nth-of-type(3) .graphic-data__line-wrapper .text-line-wrapper {
    width: 11%;
}

.analytics__graphic .graphic-data:nth-of-type(4) .graphic-data__line-wrapper .text-line-wrapper {
    width: 39%;
}

.analytics__graphic .graphic-data:nth-of-type(5) .graphic-data__line-wrapper .text-line-wrapper {
    width: 45%;
}

.analytics__graphic .graphic-data:nth-of-type(6) .graphic-data__line-wrapper .text-line-wrapper {
    width: 73%;
}

.analytics__graphic .graphic-data:nth-of-type(7) .graphic-data__line-wrapper .text-line-wrapper {
    width: 34%;
}

@media screen and (min-width: 320px){
    .analytics__graphic {
        margin-top: 18px;
    }
}

@media screen and (min-width: 768px){
    .analytics__graphic {
        margin-top: 0;
    }
}