.commit-card__mail {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    
    color: #1A1B22;
    text-decoration: none;

    margin-block-start: 0px;
    margin-block-end: 0px;
}

.commit-card__mail:hover {
    color: #1A1B22;
    text-decoration: none;
}
.commit-card__mail:visited {
    color: #1A1B22;
    text-decoration: none;
}