@import url('./__line-wrapper/graphic__line-wrapper.css');
@import url('./__text/graphic__text.css');

.graphic-data{
    display: flex;
}

.graphic-data:last-of-type{
    margin-bottom: 0;
}

@media screen and (min-width: 320px){
    .graphic-data{
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 768px){
    .graphic-data{
        margin-bottom: 56px;
    }
}

@media screen and (min-width: 1440px){
    .graphic-data{
        margin-bottom: 56px;
    }
}