.slider-link-wrapper__arrow{
    font-family: 'Roboto medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-left: 11px;
}