.slider-header-caption{
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width: 320px){
    .slider-header-caption{
        font-size: 30px;
        line-height: 40px;
        width: 288px;
    }
}

@media screen and (min-width: 768px){
    .slider-header-caption{
        font-size: 30px;
        line-height: 34px;
        width: 336px;
    }
}

@media screen and (min-width: 1024px){
    .slider-header-caption{
        font-size: 40px;
        line-height: 46px;
        width: 712px;
    }
}