@import url('./slider-header-caption/slider-header-caption.css');
@import url('./slider-link-wrapper/slider-link-wrapper.css');

.slider__header{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 320px){
    .slider__header{
        margin-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 768px){
    .slider__header{
        margin-bottom: 32px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1440px){
    .slider__header{
        margin-bottom: 0;
        padding-left: 104px;
        padding-right: 112px;
    }
}