@import url(./_button/results__line_button.css);
@import url(./_caption/results__line_caption.css);

.results__line {
    width: 100%;
    max-width: 1230px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 16px;
}

.results__line:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .results__line {
        max-width: 728px;
    }
}

@media screen and (max-width: 570px) {
    .results__line {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}