@import url('./__header/slider__header.css');
@import url('./__button/slider__button.css');
@import url('./swiper-container/swiper-container.css');
@import url('./swiper-slide/swiper-slide.css');
@import url('./slide-block/slide-block.css');
.slider{
    margin: 0 auto;
    background-color: #F5F6F7;
}

@media screen and (min-width: 320px){
    .slider{
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 768px){
    .slider{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1440px){
    .slider{
        width: 1440px;
        padding-top: 72px;
        padding-bottom: 80px;
    }
}