.card-text-wrapper__main{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #1A1B22;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 20px; 
    
}

@media screen and (min-width: 320px){
    .card-text-wrapper__main{
        -webkit-line-clamp: 3;
    }
}

@media screen and (min-width: 768px){
    .card-text-wrapper__main{
        -webkit-line-clamp: 4;
    }
}

@media screen and (min-width: 1440px){
    .card-text-wrapper__main{
        -webkit-line-clamp: 5;
    }
}