.card-text-from{
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
    letter-spacing: 0.4px;
    text-transform: uppercase;
    
    color: #B6BCBF;

    margin-block-start: 18px;
    margin-block-end: 0em;

    position: absolute;
    bottom: 24px;
    left: 24px;
}