@import url('./swiper-button-next/swiper-button-next.css');
@import url('./swiper-button-prev/swiper-button-prev.css');
@import url('./swiper-pagination/swiper-pagination.css');
@import url('./swiper-wrapper/swiper-wrapper.css');

.swiper-container {
  width: 100%;
}

@media screen and (min-width: 320px){
  .swiper-container{
    height: 300px;
  }
}

@media screen and (min-width: 768px){
  .swiper-container{
    height: 306px;
  }
}

@media screen and (min-width: 1440px){
  .swiper-container{
    height: 426px;
  }
}