.analytics__caption_h1 {
    font-size: 40px;
    line-height: 46px;
}

@media screen and (max-width: 570px) {
    .analytics__summary .analytics__caption_h1 {
        font-size: 30px;
        line-height: 34px;
        margin-block-start: 72px;
    }
}

