@import url(./_white/header_white.css);
@import url(./_black/header_black.css);

@import url(./__container/header__container.css);
@import url(./__link/header__link.css);
@import url(./__title/header__title.css);
@import url(./__nav/header__nav.css);

.header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
}

@media screen and (max-width: 570px) {
    .header {
        height: 56px;  
    }
}