.news__caption {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    
    color: #1A1B22;

    margin-block-start: 12px;
    margin-block-end: 0em;
}

@media screen and (max-width: 768px) {
    .news__caption {
        font-size: 22px;
        line-height: 24px;
    }
}