@import url('./__graphic/analytics__graphic.css');
@import url('./__title/analytics__title.css');
@import url('./__wrapper-numbers/analytics__wrapper-numbers.css');
@import url('./__wrapper-text/analytics__wrapper-text.css');
@import url('./paper-info/paper-info.css');
@import url('./text-line-wrapper/text-line-wrapper.css');

.analytics{
    margin: 0 auto;
    background-color: #F5F6F7;
}

@media screen and (min-width: 320px){
    .analytics{
        width: 100%;
        padding: 24px 16px 38px;
    }
}

@media screen and (min-width: 768px){
    .analytics{
        width: 100%;
        padding: 40px;
    }
}

@media screen and (min-width: 1440px){
    .analytics{
        width: 1440px;
        padding-left: 104px;
        padding-right: 104px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}